body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;

}

.container {
    padding: 80px 120px;
}

.jumbotron {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    margin-bottom: 0;
}

#projects {
    display: block;
    height: 100%;
    width: 100vw;
    background-color: green;
    padding: 80px 120px !important; 

}

.project {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.col-sm-4 {
    padding: 20px;
}

